a.btn {
  border: 1px solid $brand-primary;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;

  &:hover {
    background-color: $brand-primary;
    color: #FFF;
    -moz-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  &-primary {
    background-color: $brand-primary;
    color: #fff;

    &:hover {
      background-color: darken($brand-primary, 10%);
    }
  }

}
