footer {

  .btn {
    margin: 10px 0 0 0;
  }

  &.footer {
    background-color: #F3F3F3;
    clear: both;
    display: block;
    margin-top: 30px;
    padding-top: 30px;
    padding-top: 15px;
  }

  .well {
    background-color: #FFF;
  }

  img {
    width: 100px;
    margin-left: 10px;
  }
}
