header {
  background-color: #ededed;
  margin-bottom: 30px;
}

footer .well {
  background-color: #FFF;
}

.footer-primary {
  background-color: #F3F3F3;
  margin-top: 30px;
  padding-top: 30px;
}

.footer-secondary {
  padding: 30px 0 20px 0;
  background-color: #D6D6D6;
}

.header-primary {
  padding: 10px 0;
}