<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Een UiTagenda op je eigen site of app</title>

    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/projectaanvraag.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGSZXKG');</script>
    <!-- End Google Tag Manager -->

    <base href="/">

  </head>
  <body ng-app="projectaanvraagApp" ng-controller="AppController as app">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGSZXKG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <ng-include src="'views/header.html'"></ng-include>

    <div class="container">

      <div class="messages">
        <div ng-repeat="(key, messages) in app.Messages.messages" class="alert alert-{{ key }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p ng-repeat="message in messages" ng-bind="message"></p>
        </div>
      </div>

      <ui-view></ui-view>
    </div>

    <footer-component></footer-component>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-uitid-service/src/uitid.module.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>

    <!-- Constants -->
    <script src="scripts/constants/project-statuses.constant.js"></script>
    <script src="scripts/constants/error-codes.constant.js"></script>

    <!-- Controllers -->
    <script src="scripts/controllers/app.controller.js"></script>

    <!-- Components -->
    <script src="scripts/components/footer.component.js"></script>
    <script src="scripts/components/login.component.js"></script>
    <script src="scripts/components/integrations.component.js"></script>
    <script src="scripts/components/dashboard.component.js"></script>
    <script src="scripts/components/dashboard-item.component.js"></script>
    <script src="scripts/components/add_project.component.js"></script>
    <script src="scripts/components/modals/confirmation.component.js"></script>
    <script src="scripts/components/modals/request-activation.component.js"></script>
    <script src="scripts/components/modals/update-content-filter.component.js"></script>
    <script src="scripts/components/modals/billing-information.component.js"></script>
    <script src="scripts/components/forms/billing-information-form.component.js"></script>

    <!-- Services -->
    <script src="scripts/services/projectaanvraag-api.service.js"></script>

    <!-- factories -->
    <script src="scripts/factories/integration-type.factory.js"></script>
    <script src="scripts/factories/project.factory.js"></script>
    <script src="scripts/factories/messages.factory.js"></script>
    <script src="scripts/factories/organisation.factory.js"></script>
    <script src="scripts/factories/address.factory.js"></script>
    <script src="scripts/factories/contact-info.factory.js"></script>

    <!-- endbuild -->
</body>
</html>
