<form name="$ctrl.parentCtrl.billingInformation" novalidate>
    <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.billingInformation.email.$touched && $ctrl.parentCtrl.billingInformation.email.$invalid}">
        <input type="email" name="email" class="form-control" placeholder="E-mailadres" ng-model="$ctrl.parentCtrl.formData.email">
        <span id="helpBlock" class="help-block">Dit adres ontvangt de betalingsinstructies, -herinneringen en de factuur.</span>
        <p ng-show="$ctrl.parentCtrl.billingInformation.email.$touched && $ctrl.parentCtrl.billingInformation.email.$error.email" class="help-block">Gelieve een geldig e-mailadres in te geven.</p>
    </div>
    <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.billingInformation.name.$touched && $ctrl.parentCtrl.billingInformation.name.$invalid}">
        <label for="name">Naam van bedrijf, organisatie of gemeente</label>
        <input type="text" class="form-control" id="name" name="name" ng-model="$ctrl.parentCtrl.formData.name" required>
        <p ng-show="$ctrl.parentCtrl.billingInformation.name.$touched && $ctrl.parentCtrl.billingInformation.name.$error.required" class="help-block">Naam van bedrijf, organisatie of gemeente is verplicht.</p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.billingInformation.street.$touched && $ctrl.parentCtrl.billingInformation.street.$invalid}">
                <label for="street">Straat en nummer</label>
                <input type="text" class="form-control" id="street" name="street" ng-model="$ctrl.parentCtrl.formData.street" required>
                <p ng-show="$ctrl.parentCtrl.billingInformation.street.$touched && $ctrl.parentCtrl.billingInformation.street.$error.required" class="help-block">Straat en nummer is verplicht.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.billingInformation.postal.$touched && $ctrl.parentCtrl.billingInformation.postal.$invalid}">
                <label for="postal">Postcode</label>
                <input type="number" class="form-control" id="postal" name="postal" ng-model="$ctrl.parentCtrl.formData.postal" required>
                <p ng-show="$ctrl.parentCtrl.billingInformation.postal.$touched && $ctrl.parentCtrl.billingInformation.postal.$error.required" class="help-block">Postcode is verplicht.</p>
                <p ng-show="$ctrl.parentCtrl.billingInformation.postal.$touched && $ctrl.parentCtrl.billingInformation.postal.$error.number" class="help-block">Gelieve een correcte postcode in te geven.</p>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.billingInformation.city.$touched && $ctrl.parentCtrl.billingInformation.city.$invalid}">
                <label for="city">Gemeente</label>
                <input type="text" class="form-control" id="city" name="city" ng-model="$ctrl.parentCtrl.formData.city" required>
                <p ng-show="$ctrl.parentCtrl.billingInformation.city.$touched && $ctrl.parentCtrl.billingInformation.city.$error.required" class="help-block">Gemeente is verplicht.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="vat">BTW- of ondernemingsnummer</label>
        <input type="text" class="form-control" id="vat" name="vat" ng-model="$ctrl.parentCtrl.formData.vat">
    </div>
</form>
