<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Facturatiegegevens</h4>
    </div>
    <div class="modal-body">

        <div class="messages" ng-show="$ctrl.error || $ctrl.apiError">
            <div ng-show="$ctrl.error" class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>Er ging iets fout tijdens het versturen van de aanvraag.</p>
            </div>

            <div ng-show="$ctrl.apiError" class="alert alert-danger" role="alert">
                <p>Er ging iets fout tijdens het ophalen van uw gegevens. Probeer het later opnieuw.</p>
            </div>
        </div>

        <div class="loader">
            <i class="fas fa-spinner fa-spin loader" ng-show="$ctrl.loading"></i>
        </div>

        <fieldset ng-disabled="$ctrl.isSending">
            <billing-information-details-form-component ng-if="!$ctrl.apiError" ng-show="!$ctrl.loading" parent-ctrl="$ctrl" form-data="$ctrl.formData"></billing-information-details-form-component>
        </fieldset>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss();">Annuleren</button>
        <button type="button" class="btn btn-primary" ng-if="!$ctrl.apiError" ng-disabled="$ctrl.billingInformation.$invalid || $ctrl.isSending" ng-click="$ctrl.updateBillingInformation();"><i ng-show="$ctrl.isSending" class="fas fa-spinner fa-spin"></i> Bevestigen</button>
    </div>
</div><!-- /.modal-content -->
