<form name="$ctrl.parentCtrl.facturationDetails" novalidate>
    <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.facturationDetails.email.$touched && $ctrl.parentCtrl.facturationDetails.email.$invalid}">
        <input type="email" name="email" required class="form-control" placeholder="E-mailadres" ng-model="$ctrl.formData.email">
        <span id="helpBlock" class="help-block">Dit adres ontvangt de betalingsinstructies, -herinneringen en de factuur.</span>
        <p ng-show="$ctrl.parentCtrl.facturationDetails.email.$touched && $ctrl.parentCtrl.facturationDetails.email.$error.required" class="help-block">E-mailadres is verplicht.</p>
        <p ng-show="$ctrl.parentCtrl.facturationDetails.email.$touched && $ctrl.parentCtrl.facturationDetails.email.$error.email" class="help-block">Gelieve een geldig e-mailadres in te geven.</p>
    </div>
    <div class="form-group required" ng-class="{'has-error' : facturationDetails.name.$touched && facturationDetails.name.$invalid}">
        <label for="name">Naam van bedrijf, organisatie of gemeente</label>
        <input type="text" class="form-control" id="name" name="name" ng-model="$ctrl.formdata.name" required>
        <p ng-show="$ctrl.parentCtrl.facturationDetails.name.$touched && $ctrl.parentCtrl.facturationDetails.name.$error.required" class="help-block">Naam van bedrijf, organisatie of gemeente is verplicht.</p>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.facturationDetails.street.$touched && $ctrl.parentCtrl.facturationDetails.street.$invalid}">
                <label for="street">Straat</label>
                <input type="text" class="form-control" id="street" name="street" ng-model="$ctrl.formData.street" required>
                <p ng-show="$ctrl.parentCtrl.facturationDetails.street.$touched && $ctrl.parentCtrl.facturationDetails.street.$error.required" class="help-block">Straat is verplicht.</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.facturationDetails.number.$touched && $ctrl.parentCtrl.facturationDetails.number.$invalid}">
                <label for="number">Nummer</label>
                <input type="text" class="form-control" id="number" name="number" ng-model="$ctrl.formData.number" required>
                <p ng-show="$ctrl.parentCtrl.facturationDetails.number.$touched && $ctrl.parentCtrl.facturationDetails.street.$error.required" class="help-block">Huisnummer is verplicht.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.facturationDetails.zip.$touched && $ctrl.parentCtrl.facturationDetails.zip.$invalid}">
                <label for="zip">Postcode</label>
                <input type="number" class="form-control" id="zip" name="zip" ng-model="$ctrl.formData.zip" required>
                <p ng-show="$ctrl.parentCtrl.facturationDetails.zip.$touched && $ctrl.parentCtrl.facturationDetails.zip.$error.required" class="help-block">Postcode is verplicht.</p>
                <p ng-show="$ctrl.parentCtrl.facturationDetails.zip.$touched && $ctrl.parentCtrl.facturationDetails.zip.$error.number" class="help-block">Gelieve een correcte postcode in te geven.</p>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group required" ng-class="{'has-error' : $ctrl.parentCtrl.facturationDetails.city.$touched && $ctrl.parentCtrl.facturationDetails.city.$invalid}">
                <label for="city">Gemeente</label>
                <input type="text" class="form-control" id="city" name="city" ng-model="$ctrl.formData.city" required>
                <p ng-show="$ctrl.parentCtrl.facturationDetails.city.$touched && $ctrl.parentCtrl.facturationDetails.city.$error.required" class="help-block">Gemeente is verplicht.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="identifier">BTW- of ondernemingsnummer</label>
        <input type="text" class="form-control" id="identifier" name="identifier" ng-model="$ctrl.formData.identifier">
    </div>
</form>