<div class="messages"  ng-repeat="(key, messages) in $ctrl.messages">
    <div class="alert alert-{{ key }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p ng-repeat="message in messages">{{ message.message }}</p>
    </div>
</div>

<form name="addProject" ng-submit="processForm()">
    <div class="form-group required">
        <label for="project_name" class="control-label">Naam van het project</label>
        <input type="text" id="project_name" class="form-control" ng-model="formData.name" required>
    </div>
    <div class="form-group required">
        <label for="project_summary" class="control-label">Doel van het project</label>
        <input type="text" id="project_summary" class="form-control" ng-model="formData.summary" required>
    </div>
    <div class="form-group required">
        <label class="control-label">Type integratie</label>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row" ng-repeat="integrationType in $ctrl.integrationTypes">
                <div class="col-xs-1">
                    <input type="radio" name="integrationType" id="integration_type_{{ integrationType.id }}" ng-value="integrationType.id" ng-model="formData.integrationType" required>
                </div>
                <div class="col-xs-8">
                    <p><label for="integration_type_{{ integrationType.id }}">{{ integrationType.name }}</label><br/>
                        <span class="text-muted">{{ integrationType.description }}
                            <a ng-href="{{ integrationType.url }}">meer info</a>
                        </span>
                    </p>
                </div>
                <div class="col-xs-3">
                    <p class="text-right">vanaf {{ integrationType.price }} per jaar</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="alert alert-info">
                <p>Je betaalt pas wanneer je gebruik wil maken van echte data. Je probeert eerst alle mogelijkheden met
                    testevenementen.</p>
            </div>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="" class="js-check-coupon" ng-model="formData.coupon"> Ik heb een coupon
        </label>
    </div>
    <section class="js-section-coupon" ng-show="formData.coupon">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="coupon_code">Code</label>
                    <input type="text" id="coupon_code" class="form-control"  ng-model="formData.couponCode">
                </div>
            </div>
        </div>
    </section>
    <div class="checkbox form-group required">
        <label>
            <input type="checkbox" value="" ng-model="formData.termsAndConditions" required> Ik ga akkoord met de <a href="http://www.cultuurnet.be/terms">gebruiksvoorwaarden</a>
        </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Indienen" />
</form>
<br/>
<pre>
    {{ formData }}
</pre>