
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="panel-title">{{ $ctrl.project.name }}
                    <small ng-bind="$ctrl.project.group.name"></small>
                    <i class="fas fa-spinner fa-spin" ng-show="$ctrl.fetching"></i>
                </h3>

            </div>
            <div class="col-sm-6">
                <ul class="list-inline pull-right" ng-hide="$ctrl.fetching">
                    <li ng-if="!$ctrl.isWidgetsProject()"><a ng-click="$ctrl.updateContentFilter()" href="#">Contentfilter</a></li>
                    <li ng-if="!$ctrl.isInactive() && !$ctrl.usedCoupon()"><a href="#" ng-click="$ctrl.updateBillingInformation();">Facturatiegegevens</a></li>
                    <li><a href="#" ng-click="$ctrl.removeItem()">Verwijderen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-hide="$ctrl.fetching">

        <dl class="dl-horizontal">

            <dt ng-show="!$ctrl.project.group.actionButton || ($ctrl.isWidgetsProject() && !$ctrl.project.liveConsumerKey)">Test</dt>
            <dd ng-show="!$ctrl.project.group.actionButton || ($ctrl.isWidgetsProject() && !$ctrl.project.liveConsumerKey)">

                <ul class="list-unstyled" ng-show="!$ctrl.project.group.actionButton && $ctrl.project.testConsumerKey">
                    <li ng-show="$ctrl.project.group.sapiVersion == 2">Key <code ng-bind="$ctrl.project.testConsumerKey"></code></li>
                    <li ng-show="$ctrl.project.testConsumerSecret && $ctrl.project.group.sapiVersion == 2">Secret <code ng-bind="$ctrl.project.testConsumerSecret"></code></li>
                    <li ng-show="$ctrl.project.group.sapiVersion == 3">Key <code ng-bind="$ctrl.project.testApiKeySapi3"></code></li>
                </ul>

                <p ng-show="$ctrl.project.group.actionButton">
                <p ng-show="$ctrl.actionButtonLinkTest">
                    <a ng-href="{{ $ctrl.actionButtonLinkTest }}" class="btn btn-default" ng-bind="$ctrl.actionButtonText"></a>
                </p>
                </p>

            </dd>

            <dt>Live</dt>
            <dd>

                <p ng-show="$ctrl.project.status.code"><span class="state" ng-class="$ctrl.project.status.class" ng-bind="$ctrl.project.status.label"></span></p>

                <div ng-show="$ctrl.isInactive() && $ctrl.project.group.selfService">
                    <p ng-show="$ctrl.isInactive()">Aan de slag met echte data en evenementen?<br>Activeer je project ({{ $ctrl.project.group.price }} euro per jaar)</p>
                    <p ng-show="$ctrl.isInactive()">
                        <a class="btn btn-primary" ng-click="$ctrl.requestActivation();">Activeren</a>
                    </p>
                </div>

                <div ng-show="$ctrl.isInactive() && !$ctrl.project.group.selfService">
                  Voor de live-integratie van dit project is goedkeuring van publiq noodzakelijk. Neem hiervoor contact op met <a href="mailto:helpdesk@publiq.be">helpdesk@publiq.be</a>.
                </div>

                <div ng-show="$ctrl.isLive()">

                    <ul class="list-unstyled" ng-show="!$ctrl.project.group.actionButton && $ctrl.project.liveConsumerKey">
                        <li ng-show="$ctrl.project.group.sapiVersion == 2">Key <code ng-bind="$ctrl.project.liveConsumerKey"></code></li>
                        <li ng-show="$ctrl.project.liveConsumerSecret && $ctrl.project.group.sapiVersion == 2">Secret <code ng-bind="$ctrl.project.liveConsumerSecret"></code></li>
                        <li ng-show="$ctrl.project.group.sapiVersion == 3">Key <code ng-bind="$ctrl.project.liveApiKeySapi3"></code></li>
                    </ul>

                    <p ng-show="$ctrl.actionButtonLinkLive">
                        <a ng-href="{{ $ctrl.actionButtonLinkLive }}" class="btn btn-default" ng-bind="$ctrl.actionButtonText"></a>
                    </p>

                </div>

            </dd>
        </dl>
        <dl class="dl-horizontal" ng-show="$ctrl.project.group.getStartedUrl">
          <dt>Documentatie</dt>
          <dd><a ng-href="{{$ctrl.project.group.getStartedUrl}}" target="_blank">Aan de slag met {{$ctrl.project.group.name}}</a></dd>
        </dl>
        <section ng-show="$ctrl.user.isAdmin">
            <dl class="dl-horizontal">
                <dt>Beheer</dt>
                <dd>
                    <p class="small text-muted">Project {{$ctrl.project.id}} aangemaakt door {{$ctrl.project.userId}} op {{$ctrl.project.created | date:'yyyy-MM-dd'}},
                        <span ng-show="$ctrl.project.insightlyProjectId">gekoppeld aan <a href="{{$ctrl.project.insightlyUrl}}"target="_blank">{{$ctrl.project.opportunity ? 'Insightly-opportunity' : 'Insightly-project'}} {{$ctrl.project.insightlyProjectId}}</a></span>
                        <span ng-hide="$ctrl.project.insightlyProjectId" class="text-danger">zonder Insightly-project <i class="fas fa-exclamation-triangle" aria-hidden="true"></i></span>.</p>
                    <ul class="list-inline">
                        <li ng-if="!$ctrl.isLive()"><a href="#" ng-click="$ctrl.activateItem()">Zet live met jaarlijks abonnement</a></li>
                        <li ng-if="!$ctrl.isBlocked()"><a href="#" ng-click="$ctrl.blockItem()">Blokkeren</a></li>
                    </ul>
                </dd>
            </dl>
        </section>
    </div>
</div>
