
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="panel-title">{{ $ctrl.project.name }}
                    <small ng-bind="$ctrl.project.group.name"></small>
                    <i class="fa fa-spinner fa-spin" ng-show="$ctrl.fetching"></i>
                </h3>

            </div>
            <div class="col-sm-6">
                <ul class="list-inline pull-right" ng-hide="$ctrl.fetching">
                    <li><a ng-click="$ctrl.updateContentFilter()" href="#">Contentfilter</a></li>
                    <li ng-if="!$ctrl.isInactive() && !$ctrl.usedCoupon()"><a href="#" ng-click="$ctrl.updateBillingInformation();">Facturatiegegevens</a></li>
                    <li><a href="#" ng-click="$ctrl.removeItem()">Verwijderen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-hide="$ctrl.fetching">

        <dl class="dl-horizontal">

            <dt>Test</dt>
            <dd>

                <ul class="list-unstyled" ng-show="!$ctrl.project.group.actionButton && $ctrl.project.testConsumerKey">
                    <li>Key <code ng-bind="$ctrl.project.testConsumerKey"></code></li>
                    <li ng-show="$ctrl.project.testConsumerSecret">Secret <code ng-bind="$ctrl.project.testConsumerSecret"></code></li>
                </ul>

                <p ng-show="$ctrl.project.group.actionButton">
                    <a ng-href="{{ $ctrl.project.group.actionButton.testUrl }}{{ $ctrl.project.testConsumerKey}}{{ $ctrl.project.group.actionButton.urlSuffix }}" class="btn btn-default" ng-bind="$ctrl.project.group.actionButton.text"></a>
                </p>

            </dd>

            <dt>Live</dt>
            <dd>

                <p ng-show="$ctrl.project.status.code"><span class="state" ng-class="$ctrl.project.status.class" ng-bind="$ctrl.project.status.label"></span></p>

                <div ng-show="$ctrl.isInactive()">
                    <p ng-show="$ctrl.isInactive()">Aan de slag met echte data en evenementen?<br>Activeer je project ({{ $ctrl.project.group.price }} euro per jaar)</p>
                    <p ng-show="$ctrl.isInactive()">
                        <a class="btn btn-primary" ng-click="$ctrl.requestActivation();">Activeren</a>
                    </p>
                </div>

                <div ng-show="$ctrl.isLive()">

                    <ul class="list-unstyled" ng-show="!$ctrl.project.group.actionButton && $ctrl.project.liveConsumerKey">
                        <li>Key <code ng-bind="$ctrl.project.liveConsumerKey"></code></li>
                        <li ng-show="$ctrl.project.liveConsumerSecret">Secret <code ng-bind="$ctrl.project.liveConsumerSecret"></code></li>
                    </ul>

                    <p ng-show="$ctrl.project.group.actionButton">
                        <a ng-href="{{ $ctrl.project.group.actionButton.liveUrl }}{{ $ctrl.project.liveConsumerKey}}{{ $ctrl.project.group.actionButton.urlSuffix }}" class="btn btn-default" ng-bind="$ctrl.project.group.actionButton.text"></a>
                    </p>

                </div>

            </dd>
        </dl>
        <section ng-show="$ctrl.user.isAdmin">
            <dl class="dl-horizontal">
                <dt>Beheer</dt>
                <dd>
                    <ul class="list-inline">
                        <li ng-if="!$ctrl.isLive()"><a href="#" ng-click="$ctrl.activateItem()">Zet live met jaarlijks abonnement</a></li>
                        <li ng-if="!$ctrl.isBlocked()"><a href="#" ng-click="$ctrl.blockItem()">Blokkeren</a></li>
                    </ul>
                </dd>
            </dl>
        </section>
    </div>
</div>
