<div class="row">
    <div class="col-xs-12 col-sm-5">
        <p class="block-title projectheader--title">Projecten</p>
    </div>
    <div class="col-xs-7 col-sm-5">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Projectnaam" ng-model="$ctrl.nameFilter">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$ctrl.searchProjects()">Zoeken</button>
            </span>
        </div>

    </div>
    <div class="col-xs-5 col-sm-2">
        <p class="text-right"><a class="btn btn-primary btn-block" ng-click="$ctrl.redirectToCreate()" role="button">Nieuw project</a></p>
    </div>
</div>

<div class="loader">
    <i class="fa fa-spinner fa-spin loader" ng-show="$ctrl.loading"></i>
</div>

<div class="well empty-state-projects" ng-show="$ctrl.totalProjects === 0 && !$ctrl.loading">
    <p class="empty-state-project--title text-center">Je hebt nog geen projecten. <a ng-click="$ctrl.redirectToCreate()">Aan de slag</a></p>
    <p class="empty-state-project--description text-center text-muted">Maak een project aan en probeer alles gratis uit met testevenementen.</p>
</div>

<div ng-repeat="project in $ctrl.projects">
    <dashboard-item-component detail="project" on-update="$ctrl.searchProjects();"></dashboard-item-component>
</div>

<ul uib-pagination total-items="$ctrl.totalProjects" ng-model="$ctrl.currentPage" items-per-page="$ctrl.itemsPerPage"
    ng-change="$ctrl.searchProjects()" ng-show="$ctrl.itemsPerPage <= $ctrl.totalProjects" max-size="3" rotate="false">
</ul>
