<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <p class="block-title">Mogelijkheden</p>
        <div class="row">

          <div class="col-sm-4" ng-repeat="integrationType in $ctrl.integrationTypes">
            <div class="well">
              <h4 ng-bind="integrationType.name"></h4>
              <p ng-bind="integrationType.description"></p>
              <ul>
                <li ng-repeat="extraInfo in integrationType.extraInfo" ng-bind="extraInfo"></li>
              </ul>
              <p class="text-center"><strong>vanf {{ integrationType.price }} per jaar</strong></p>
              <p class="text-center"><a class="btn btn-default" ng-href="integrationType.url">Meer info</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3">

        <div class="col-xs-6 col-md-12">
          <p class="block-title">Documentatie</p>
          <ul>
            <li><a href="#">Overzicht van de omgevingen</a></li>
            <li><a href="#">Authentificatie en autorisatie</a></li>
            <li><a href="#">Hoe vraag ik een project aan?</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-12">
          <p class="block-title">Contact</p>

          <div class="clearfix">
            <img src="http://www.cultuurnet.be/sites/cultuurnet.be/files/team_fotos/julie.JPG" class="img-responsive pull-right" alt="Responsive image" style="width: 50px">
            <p>Julie Meiresonne<br/>
              julie@cultuurnet.be</p>
          </div>

          <div class="clearfix">
            <p>Ondersteuning nodig? Een organisatie met een hart voor cultuur en vrije tijd? Dan werken we graag een voorstel op maat uit.</p>
            <p><a class="btn btn-default" href="mailto:">Contacteer ons</a></p>
          </div>

        </div>

      </div>

    </div>
  </div>
</footer>

<footer class="footer-secondary">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul>
          <li><a href="http://www.cultuurnet.be/help">Help</a></li>
          <li><a href="http://www.cultuurnet.be/terms">Tarieven en voorwaarden</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="text-right">Een initiatief van Cultuurnet,<br/>met de steun van de Vlaamse overheid</p>
      </div>
    </div>
  </div>
</footer>