<footer class="footer-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <p class="block-title">Mogelijkheden</p>
        <div vertilize-container class="row">

          <div class="col-sm-4" ng-repeat="integrationType in $ctrl.integrationTypes">
            <div class="well">
              <h4 ng-bind="integrationType.name"></h4>
              <div vertilize>
                <p ng-bind="integrationType.description"></p>
                <ul ng-if="integrationType.extraInfo.length > 0">
                  <li ng-repeat="extraInfo in integrationType.extraInfo" ng-bind="extraInfo"></li>
                </ul>
                <p><strong>vanaf {{ integrationType.price }} per jaar</strong></p>
              </div>
              <a class="btn" ng-href="{{ integrationType.url }}">Meer info</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3">

        <div class="col-xs-6 col-md-12">
          <p class="block-title">Documentatie</p>
          <div class="well">
            <ul>
              <li><a href="#">Overzicht van de omgevingen</a></li>
              <li><a href="#">Authentificatie en autorisatie</a></li>
              <li><a href="#">Hoe vraag ik een project aan?</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-6 col-md-12">
          <p class="block-title">Contact</p>

          <div class="clearfix well">
            <img src="http://www.cultuurnet.be/sites/cultuurnet.be/files/team_fotos/julie.JPG" class="img-responsive pull-right" alt="Responsive image" style="width: 50px">
            <p>Julie Meiresonne<br/>
              julie@cultuurnet.be</p>
            <p>Ondersteuning nodig? Een organisatie met een hart voor cultuur en vrije tijd? Dan werken we graag een voorstel op maat uit.</p>
            <a class="btn" href="mailto:">Contacteer ons</a>
          </div>

        </div>

      </div>

    </div>
  </div>
</footer>

<footer class="footer-secondary">
  <div class="container">
    <div class="row">
      <p class="text-center">Een initiatief van Cultuurnet met de steun van de Vlaamse overheid</p>
      <p><a href="http://www.cultuurnet.be/help">Help</a> - <a href="http://www.cultuurnet.be/terms">Tarieven en voorwaarden</a></p>
    </div>
  </div>
</footer>