<footer class="footer-secondary">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <p class="block-title">Info</p>

        <ul>
          <li><a href="http://www.cultuurnet.be/help">Alle mogelijkheden</a></li>
          <li><a href="http://www.cultuurnet.be/help">Help</a></li>
          <li><a href="http://www.cultuurnet.be/terms">Tarieven en voorwaarden</a></li>
        </ul>

        <p>Een initiatief van Cultuurnet met de steun van de Vlaamse overheid</p>

      </div>

      <div class="col-xs-12 col-md-4">
        <p class="block-title">Documentatie</p>
        <ul>
          <li><a href="#">Overzicht van de omgevingen</a></li>
          <li><a href="#">Authentificatie en autorisatie</a></li>
          <li><a href="#">Hoe vraag ik een project aan?</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-md-4">
        <p class="block-title">Contact</p>

        <div class="clearfix well">
          <img src="http://www.cultuurnet.be/sites/cultuurnet.be/files/team_fotos/julie.JPG" class="img-responsive pull-right" alt="Responsive image" style="width: 50px">
          <p>Julie Meiresonne<br/>
            julie@cultuurnet.be</p>
          <p>Ondersteuning nodig? Een organisatie met een hart voor cultuur en vrije tijd? Dan werken we graag een voorstel op maat uit.</p>
          <a class="btn" href="mailto:">Contacteer ons</a>
        </div>
      </div>


    </div>
  </div>
</footer>
