<div class="container">
<p class="lead intro-integrations">publiq biedt een waaier van toepassingen waarmee je agenda-informatie op je website integreert. De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van jouw doelgroep.</p>

<hr/>

<h3>Integratie via Widgets</h3>

<div class="row">
  <div class="col-sm-6">
    <p>De UiTwidgets van publiq zijn eenvoudige toepassingen waarmee je agenda-informatie in je website kan integreren.</p>
    <p>De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van de scope van de website. Je kan de widgets volledig aanpassen aan de vormgeving van je website.</p>
    <ul class="integration-benefits">
       <li>Geschikt voor basisoplossingen</li>
       <li>Zelf of door publiq in te stellen</li>
       <li>Een doorzoekbare agenda</li>
       <li>Uitgebreide configuratiemogelijkheden: HTML, CSS en JS</li>
    </ul>
    <p>Voorbeelden: <br/>
    <a href="https://www.seniorennet.be/page/info/agenda" target="_blank">SeniorenNet</a>, <a href="https://inter.vlaanderen/alle-evenementen" target="_blank">Toegankelijke UiTagenda van Inter</a> of <a href="https://vivavlaanderen.radio2.be/pagina/agenda" target="_blank">VivaVlaanderen</a></p>
    <p><a class="btn btn-primary btn-lg" ng-click="$ctrl.login()">Gratis proberen</a></p>
  </div>
  <div class="col-sm-6">
    <img src="/images/projectaanvraag-widgets.jpg" class="img-responsive">
  </div>
</div>

<hr/>


<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <h3>Integratie via Search API</h3>
    <p>De UiTdatabank API (JSON-LD) biedt developers toegang tot de rijkste en meest volledige vrijetijdsbron van Vlaanderen en Brussel. Bouw zelf applicaties zoals uitinvlaanderen.be, uitmetvlieg.be, cultuurkuur.be en de meer dan 500 andere partners die de UiTdatabank in hun platform integreerden.</p>
    <ul class="integration-benefits">
       <li>Platformonafhankelijk</li>
       <li>Individuele oplossingen op maat mogelijk</li>
       <li>Bekroond met de award API van het Jaar</li>
    </ul>
    <p>Voorbeeld: <a href="https://www.openmonumenten.be/monumenten-en-evenementen" target="_blank">Open Monumenten</a></p>
    <p><a class="btn btn-primary btn-lg" ng-click="$ctrl.login()" role="button">Gratis proberen</a></p>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <img src="/images/projectaanvraag-api.jpg" class="img-responsive center-block">
  </div>
</div>

<hr/>

<h3>Evenementen aanmaken via entry API</h3>
<div class="row">
  <div class="col-sm-6">
      <p>De UiTdatabank entry API (JSON-LD) biedt de mogelijkheid om items in UiTdatabank aan te maken, aan te passen en te verwijderen.</p>
      <ul class="integration-benefits">
          <li>JSON-standaard</li>
          <li>Activatie op live-omgeving enkel op aanvraag</li>
          <li>Bekroond met de award API van het Jaar 2019</li>
      </ul>
      <p>Voorbeeld: <a href="https://www.uitdatabank.be/" target="_blank">het invoerformulier op uitdatabank.be</a></p>
      <p><a class="btn btn-primary btn-lg" ng-click="$ctrl.login()">Gratis proberen</a></p>
  </div>
  <div class="col-sm-6">
    <img src="/images/projectaanvraag-entryapi.jpg" class="img-responsive">
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-6">
    <p>Meer voorbeelden vind je op <a href="http://www.publiq.be/nl/publicatiekanalen" target="_blank">http://www.publiq.be/nl/publicatiekanalen</a></p>
  </div>
</div>
</div>
