<p class="lead">CultuurNet biedt een waaier van toepassingen waarmee je agenda-informatie op je website integreert. De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van jouw doelgroep.</p>

<hr/>

<h3>Integratie via Widgets</h3>

<div class="row">
  <div class="col-sm-6">
    <p>De meeste partners maken gebruik van de kant-en-klare agenda’s op basis van widgets. Dit zijn kant en klare html-modules die je in je website kan inpassen.</p>
    <ul>
       <li>HTML, CSS, JS</li>
       <li>Geschikt voor basisoplossingen</li>
    </ul>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="/#!/projects/add">Bestellen</a></p>
  </div>
  <div class="col-sm-6">
    <img src="https://placeimg.com/640/300/tech" class="img-responsive">
  </div>
</div>


<hr/>

<h3>Integratie via API</h3>

<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <p>Met deze API krijg je toegang tot de zoekengine van de UiTdatabank.</p>
    <ul>
       <li>Platformonafhankelijk</li>
       <li>Individuele oplossingen op maat zijn mogelijk</li>
    </ul>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="/#!/projects/add">Bestellen</a></p>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <img src="https://placeimg.com/640/300/tech" class="img-responsive">
  </div>
</div>

<hr/>

<h3>Integratie via Culturefeed</h3>

<div class="row">
  <div class="col-sm-6">
    <p>Modules waarmee je een UiTagenda integreert in een Drupal-site

    <ul>
      <li>Specifiek voor Drupal-sites</li>
      <li>Je kan rekenen op de open-source gemeenschap</li>
    </ul>

    <p class="text-center"><a class="btn btn-primary btn-lg" href="/#!/projects/add">Bestellen</a></p>

  </div>
  <div class="col-sm-6">
    <img src="https://placeimg.com/640/300/tech" class="img-responsive">
  </div>
</div>
