<p class="lead">CultuurNet biedt een waaier van toepassingen waarmee je agenda-informatie op je website integreert. De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van jouw doelgroep.</p>

<hr/>

<h3>Integratie via Widgets</h3>

<div class="row">
  <div class="col-sm-6">
    <p>De UiTwidgets van CultuurNet zijn eenvoudige toepassingen waarmee je agenda-informatie in je website kan integreren zonder hiervoor over veel technische kennis of een enorm budget te moeten beschikken.</p>
    <p>De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van de scope van de website. Je kan de widgets volledig aanpassen aan de vormgeving van je website. Anders dan bij veel widgets zijn de configuratiemogelijkheden heel uitgebreid.</p>
    <ul>
       <li>Geschikt voor basisoplossingen</li>
       <li>Zelf of door CultuurNet in te stellen</li>
       <li>Een doorzoekbare agenda</li>
       <li>Uitgebreide configuratiemogelijkheden</li>
       <li>HTML, CSS en JS</li>
    </ul>
    <p>Voorbeelden: <a href="http://natuurpuntbrussel.be/activiteiten/" target="_blank">de agenda van Natuurpunt Brussel</a> of <a href="http://www.erfgoedcelbrugge.be/nl/kalender" target="_blank">Erfgoedcel Brugge</a></p>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="/#!/projects/add">Gratis proberen</a></p>
  </div>
  <div class="col-sm-6">
    <img src="https://placeimg.com/640/300/tech" class="img-responsive">
  </div>
</div>

<hr/>

<h3>Integratie via API</h3>

<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <p>De UiTdatabank Items API biedt developers toegang tot de rijkste en meest volledige vrijetijdsbron van Vlaanderen en Brussel. Bouw zelf applicaties zoals uitinvlaanderen.be, uitmetvlieg.be, cultuurkuur.be en de meer dan 500 andere partners die de UiTdatabank in hun platform integreerden.</p>
    <ul>
       <li>Platformonafhankelijk</li>
       <li>Individuele oplossingen op maat mogelijk</li>
    </ul>
    <p>Voorbeeld: <a href="https://www.sport.vlaanderen/sportactiviteiten/vind-een-activiteit-die-bij-je-past/" target="_blank">de agenda van Sport Vlaanderen</a></p>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="/#!/projects/add">Gratis proberen</a></p>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <img src="https://placeimg.com/640/300/tech" class="img-responsive">
  </div>
</div>

<hr/>

<h3>Integratie via Culturefeed</h3>

<div class="row">
  <div class="col-sm-6">
    <p>Door CultuurNet ontwikkelde PHP- en Drupal modules die UiTdatabank (en UiTID) integreren.</p>

    <ul>
      <li>Van agenda tot een volledige (campagne)website</li>
      <li>Fijngestelde SEO</li>
      <li>Integratie van social features</li>
      <li>Responsive design</li>
    </ul>
    <p>Voorbeeld: <a href="http://www.prettiggeleerd.be/" target="_blank">de website van Prettig Geleerd</a></p>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="/#!/projects/add">Gratis proberen</a></p>

  </div>
  <div class="col-sm-6">
    <img src="https://placeimg.com/640/300/tech" class="img-responsive">
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-6">
    <p>Meer voorbeelden vind je op <a href="http://www.cultuurnet.be/nl/publicatiekanalen" target="_blank">http://www.cultuurnet.be/nl/publicatiekanalen</a></p>
  </div>
</div>