<div class="hero">
  <div class="container">
    <projectaanvraag-homepage-splash></projectaanvraag-homepage-splash>
  </div>
</div>

<div class="container">
  <div class="login">
    <h1 class="site-title">Een UiTagenda op je eigen site of app</h1>
    <p class="login-lead">publiq biedt een waaier van toepassingen waarmee je agenda-informatie op je website integreert. De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van jouw doelgroep.</p>
    <p class="text-center">Wegens onderhoudswerken is projectaanvraag tijdelijk onbeschikbaar</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="block-title">Mogelijkheden</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 integration-types">
      <div ng-repeat="(key, value) in $ctrl.integrationTypes | orderBy: '-type' | groupBy: 'type' ">
        <h2 class="type-title">{{key}} <span class="muted">{{$ctrl.integrationTypeDescription[key]}}</span></h2>
        <div class="integration-type" ng-repeat="integrationType in value | filter: {'enableActivation': true} | orderBy: 'name'">
          <div class="integration-header">
            <a ng-href="{{ integrationType.url }}">
              <h4 class="integration-title" ng-bind="integrationType.name"></h4>
            </a>
            <p class="integration-price" ng-show="integrationType.price > 0">vanaf {{ integrationType.price }} EUR per jaar</p>
          </div>
          <div class="integration-content">
            <p ng-bind="integrationType.description" class="integration-description"></p>
            <ul ng-if="integrationType.extraInfo.length > 0" class="integration-benefits">
              <li ng-repeat="extraInfo in integrationType.extraInfo" ng-bind="extraInfo"></li>
            </ul>
            <a class="btn" ng-href="{{ integrationType.url }}">Meer info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
