<div class="hero">
  <div class="container">
    <projectaanvraag-homepage-splash></projectaanvraag-homepage-splash>
  </div>
</div>

<div class="container">
  <div class="login">
    <h1 class="site-title">Een UiTagenda op je eigen site of app</h1>
    <p class="login-lead">publiq biedt een waaier van toepassingen waarmee je agenda-informatie op je website integreert. De agenda-informatie komt uit de UiTdatabank en wordt gefilterd op maat van jouw doelgroep.</p>
    <p class="text-center"><a class="btn btn-primary btn-lg btn-login" ng-click="$ctrl.login()">Gratis proberen</a></p>
  </div>
</div>

<div class="container">
  <p class="block-title">Mogelijkheden</p>
  <div class="row">
    <div class="integration-types">
      <div ng-class="$ctrl.integrationTypes.length > 3 ? 'col-sm-3' : 'col-sm-4'" ng-repeat="integrationType in $ctrl.integrationTypes | orderBy: 'name'">
        <div class="integration-type">
          <a ng-href="{{ integrationType.url }}">
            <h4 class="integration-title" ng-bind="integrationType.name"></h4>
          </a>
          <p class="integration-price">vanaf {{ integrationType.price }} EUR per jaar</p>
          <p ng-bind="integrationType.description" class="integration-description"></p>
          <ul ng-if="integrationType.extraInfo.length > 0" class="integration-benefits">
            <li ng-repeat="extraInfo in integrationType.extraInfo" ng-bind="extraInfo"></li>
          </ul>
          <a class="btn" ng-href="{{ integrationType.url }}">Meer info</a>
        </div>
      </div>
    </div>
  </div>
</div>
